
<div id="right">
                <h2>@Display(Model.Title)</h2>
                <div id="welcome">
                @Display(Model.Content)
            
                </div>
                    
            </div>