 <div id="right2">
                <h2>@Display(Model.Title)</h2>
                <div id="welcome">
                @Display(Model.Content)
            
                </div>
                
            </div>