<!DOCTYPE html>
<html>
<head>
    <title>MD File Template</title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>MD File Template</h1>
    <div style="color:blue">Database at top:</div>
    <p>---</p>
    <p><div style="color:blue">Title is required:</div><br/>
    Title: </p>
    <p>Version: </p>
    <p>Description: </p>
    <p>CodeLanguages: </p>
    <p>Targets: </p>
    <p>Language:  "en-us"</p>
    <p><div style="color:Blue">At least one of the next three required:</div><br/>
    GitHub: </p>
    <p>HacksterIO: </p>
    <p>Codeplex: </p>
    <p>Tags: </p>
    <p>Developers: </p>
    <p>Blog: </p>
    <p>--- </p>
    <p><div style="color:blue">Content that follows in MD format eg:</div></p>
    <p># Title</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><a href="#" onclick="history.go(-1)">Go Back</a></p>
    <p>&nbsp;</p>
</body>
</html>
