<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.web>
    <customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.6.1">
			<buildProviders>
				<add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
				<add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
			</buildProviders>
		</compilation>
		<httpHandlers>
			<add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="4.0" />
	</system.web>
  <!-- aspnet_regiis.exe -pe "appSettings" -app "/WebSite" -prov "DataProtectionConfigurationProvider"-->
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="Admin.UserName" value="2a2cf9ae-1c35-4949-a965-2a56cda6f309" />
    <add key="Admin.Pwd" value="6117003c-c79a-4187-8811-ad23a4657e59" />
    <add key="GitHub.MDsRepository" value="ms-iot-community-samples" />
    <add key="GitHub.UserName" value="djaus2" />
    <add key="Github.Pwd" value="1000PieceJigsaw" />
    <add key="Github.Url" value="https://github.com/" />
    <add key="GitHub.LatestCommitSha" value="" />
    <add key="GitHub.clientId" value="The github repo clientid" />
    <add key="GitHub.clientSecret" value="Thes github clientsecret6" />
  </appSettings>
	<system.web.webPages.razor>
		<pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
			<namespaces>
				<add namespace="Nancy.ViewEngines.Razor" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors existingResponse="PassThrough" />
		<handlers>
			<add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
  <location path="assets">
    <system.webServer>
      <handlers>
        <remove name="Nancy" />
      </handlers>
    </system.webServer>
  </location>
</configuration>