<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table>
        <colgroup>
            <col style="font-weight:bold;" />
            <col />
        </colgroup>
        <tr>
            <td><a href="/" >Slash</a></td>
        </tr>
        <tr>
            <td><a href="/Default">Default</a></td>
        </tr>
        <tr>
            <td><a href="http://sportronicsiot.azurewebsites.net/" >MS-IoT Community Samples-svc</a></td>
        </tr>
        <tr>
            <td><a href="http://sportronicsiot.azurewebsites.net/Default" >MS-IoT Community Samples-svc</a></td>
        </tr>
        <tr>
            <td><a href="http://sportronicsiot.azurewebsites.net/ms_iot_Community_Samples">MS-IoT Community Samples-svc</a></td>
        </tr>

        </table>

</body>
</html>
