<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <table>
        <colgroup>
            <col style="font-weight:bold;" />
            <col />
        </colgroup>
        <tr>
            <td><a href="/ms_iot_Community_Samples">MS-IoT Community Samples</a></td>
        </tr>

        </table>

</body>
</html>
