<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>ms_iot_community_samples_svc 1</title>

	<style type="text/css">

		body {
			text-align: center;
		}

	</style>

</head>
<body>
	<img src="~/Content/WP_20150920_12_30_23_Pro.jpg" alt="Nancy logo" /><br />
	This view was rendered using the Nancy Razor view engine
</body>
</html>
