<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h1>Sportronics</h1>
    <img src="~/Content/sportronics.png" alt="IMAGES" />
    <table>
        <colgroup>
            <col style="font-weight:bold;" />
            <col />
        </colgroup>

        <tr>
            &nbsp;
        </tr>
        <tr>
            &nbsp;
        </tr>
        <tr>
            <td><h2><a href="/ms_iot_Community_Samples">Microsoft IoT Community Samples</a></h2></td>
        </tr>

        </table>

</body>
</html>
