@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<ms_iot_community_samples_svc.Models.Errors >
<html>
<head>
    <title>MS-IoT Community Samples</title>
	<meta charset="utf-8" />
    <script type="text/javascript">
        function OnBodyLoad( )
        {
            var txt = '@Model.Message';

            var ch = txt.charAt(0);
            if (ch == '$') {
                txt = txt.split("&lt;").join("<");
                txt = txt.split("&gt;").join(">");
                txt = txt.substr(1, txt.length - 1);
                document.getElementById("tdAbout").innerHTML = txt;
            }
            else
                document.getElementById("TextAreaAbout").value = txt;

        }
    </script>
</head>

<body onload="OnBodyLoad()">

    <h1>MS-IoT Community Samples</h1>
    <table>
        <colgroup>
            <col style="font-weight:bold;" />
            <col />
        </colgroup>
        <tr>
            <td><a href="/Default">Sportronics</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><a href="/ms_iot_Community_Samples/list">View (filtered) list of Sample Projects</a></td>
        </tr>
        <tr>
            <td><a href="/ms_iot_Community_Samples/reset">Show all</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td><h2>Admin</h2></td>
        </tr>
        <tr>
            <td><a href=@Model.LogLink>@Model.LogLabel</a></td>
        </tr>
        <tr>
            <td>* <a href="/ms_iot_Community_Samples/convert">Convert</a></td>
        </tr>
        <tr>
            <td>* <a href="/ms_iot_Community_Samples/GitHub/0">Sync with GitHub</a></td>
        </tr>
        <tr>
            <td>* <a href="/ms_iot_Community_Samples/GitHub/1">ReSync with GitHub</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td id="tdAbout"><input readonly type="text" id="TextAreaAbout" width="800"></td>
        </tr>

        <tr>
            <td><iframe id="iframeAbout" src="/ms_iot_Community_Samples_Content/ms_iot_Community_Samples_About" width="800" height="300" scrolling="auto" frameborder="0" /></td>
        </tr>




    </table>
</body>
</html>
